.history-list{
   
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    li{
        list-style-type: none;
        color: white;

    }
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    img{
        padding-bottom: 0;
    }
}